*, 
html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.App {
  width: 90%;
  text-align: center;
  margin: auto;
  justify-content: center;
  background-color: aquamarine;

}
.Header{
  width: 90%;
  margin: auto;
  z-index: 5;
  position: fixed;
  color: black;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-weight: 300;
  background-color:grey;
}
.Signout{
  align-content: flex-end;
}

